:root{
  --size-x: 40;
  --size-y: 40;
}

body {
  margin:0;
  padding:0;
  background-color: #F1F1F1;
  overflow: hidden;
}

.slider{
  position: absolute;
  overflow: hidden;
  width: calc(var(--size-x) * 1%);
  height: 0;
  padding-bottom: calc(var(--size-y) * 1%);
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  box-shadow: 0 0 0 .5vw rgba(0, 0, 0, .5);
}

.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.prev, .next{
  position: absolute;
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: inset 0 0 0 .5vw rgba(0, 0, 0, .7);
  z-index: 999;
  -webkit-user-select: none;
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  font-size: 2vw;
  color: #fff;
}

.prev::before, .next::before{
  position: absolute;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  text-align: center;
  color: #fff;
  font-size: 2vw;
}

.prev::before{
  content: '<';
}

.next::before{
  content: '>';
}

.next{
  right: 0;
}

.prev:active, .next:active{
  background-color: rgba(255, 255, 255, .3);
}

.item{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.item img{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item p{
  position: absolute;
  margin: 0;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 3vw;
  color: #fff;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, .5);
}













/*esad*/